/* -------------------全体------------------- */
body {
    font-family: 'Noto Serif JP', serif;
    font-size: 18px;
    color: #333;
}

.page_title {
    font-size: 46px;
    text-align: center;
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #333;
    background-image: url('/storage/images/store.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover; /* または contain */
    margin: 0 auto;
    background-color: #d4d4d4;
}


.btn {
    border-radius: 50px;
    background-color: black;
    color: white;
    margin: 30px 10px;
    padding: 10px 25px;
    font-size: 18px;
}

.btn:hover,
.btn:focus {
    background-color: #cecece;
}

.btn-sub {
    color: black;
    background-color: white;
    margin: 0;
    font-size: 14px;
    padding: 10px;
    border: none;
}

.btn-sub:hover,
.btn-sub:focus,
.btn-sub:active {
    text-decoration: underline;
    color: #333;
    background: none;
    border: none !important;
}

input::placeholder {
    font-size: 16px;
    color: #999;
}

.btn-back {
    display: inline-block;
    color: black;
    background-color: white;
    margin: 10px;
    text-decoration: none;
    padding: 10px;
    width: auto;
}

.btn-back:hover,
.btn-back:focus {
    color: #333;
    background-color: #d3d3d3;
    border: 1px solid #d3d3d3;
    border-radius: 25px;
}

.alert-success {
    color: 57ffa2;
    font-weight: bold;
    margin: 0 auto;
}

.alert-danger {
    font-weight: bold;
    margin: 20px auto;
}

.free_btn {
    background-color: #f5f5f5;
    color: #999999;
    border: 1px solid #cccccc;
}

.free_btn:hover,
.free_btn:focus {
    background-color: #f5f5f5;
    color: #999999;
    border: 1px solid #acacac;
}

.btn-back {
    position: fixed;
    bottom: 150px;
    left: 20px;
    z-index: 10;
    background: none;
}


/* -------------------ヘッダー------------------- */

.logo_img {
    height: 60px;
    margin-top: 5px;
}

.nav-link {
    color: #333;
}

.nav-link:hover,
.nav-link:focus {
    color: #999;
}

.free-nav-link {
    color: #f5f5f5;
}

.free-nav-link:hover,
.free-nav-link:focus {
    color: #ececec;
}

.navbar {
  align-items: center;
}



/* -------------------フッダー------------------- */
.footer {
    background-color: #EEEEEE;
}



/* -------------------会員登録------------------- */
.required_mark {
    background-color: #FFCC66;
    font-size: 12px;
    padding: 5px;
    margin-left: 10px;
}

.title_img_register {
    background-image: url('/images/store_index.png');
    background-position: center;
    background-size: cover;
}

.form-group {
    margin-bottom: 10px;
}



/* -------------------ログイン------------------- */
.nagoyameshi-check-label {
    font-size: 14px;
}


/* -------------------店舗一覧ページ------------------- */
.search-input {
    width: 250px;
    height: 50px;
    border-radius: 30px;
}

.search-btn {
    width: 50px;
    height: 50px;
    border: 10px;
    background-color: black;
    border-radius: 100px;
    color: white;
}

.search-btn:hover,
.search-btn:focus {
    width: 50px;
    height: 50px;
    border: 10px;
    background-color: #444444;
    color: white;
}

#keyword-input {
    text-align: center;
    border: 1px solid #696969;
    margin-right: 5px;
}

.store_link {
    color: #333;
}


/* -------------------店舗詳細------------------- */
.store_title {
    font-size: 40px;
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
}

.store-show-info {
    height: 100%;
    width: 100%;
}

.store-show-info th {
    width: 20%;
}

.store-show-info td,
.store-show-info th {
    padding-top: 8px;
    padding-bottom: 8px;
}

.btn-favorite {
    font-size: 16px;
    background-color: #FF758E;
}

.btn-favorite:hover,
.btn-favorite:focus {
    background-color: #FFA8B8;
    color: white;
}



/* -------------------マイページ------------------- */
.mypage-item-set {
    margin-top: 30px;
    margin-bottom: 20px;
}

.mypage-item {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333;
    font-size: 28px;
    width: 600px;
    height: 60px;
    border: 1px solid #696969;
    margin: 30px auto;
    text-decoration: none;
    border-radius: 10px;
    background-color: #ffffff;
}

.mypage-item:hover,
.mypage-item:focus {
    background-color: #eeeeee;
    border: 1px solid #929292;
}


.free-mypage-item {
    background-color: #f5f5f5;
    color: #999999;
    border: 1px solid #cccccc;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    width: 600px;
    height: 60px;
    margin: 30px auto;
    text-decoration: none;
    border-radius: 10px;
}

.free-mypage-item:hover,
.free-mypage-item:focus {
    background-color: #f5f5f5;
    color: #999999;
    border: 1px solid #cccccc;
}



/* -------------------会員情報詳細------------------- */
.read-only-field {
    background: #EEEEEE;
    pointer-events: none;
    margin: 3px 0;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


/* -------------------会員情報の編集------------------- */
.info-edit-filed {
    margin: 3px 0;
}


/* -------------------お気に入り一覧ページ------------------- */
.heart-btn {
    margin: 0;
    padding: 10px;
    background: none;
    font-size: 18px;
    color: #FF758E;
}

.heart-btn:hover,
.heart-btn:focus {
    color: #FFA8B8;
    background: none;
}

.favorite_link {
    text-decoration: none;
    color: #333;
}



/* -------------------レビュー------------------- */
.review-score-color {
    color: #f5b301; /* ゴールド系の星色 */
    font-size: 1.2rem;
}

.delete-btn {
    color: #333;
    background: none;
    padding: 3px;
    margin: 0;
}

.delete-btn:hover,
.delete-btn:focus {
    color: #696969;
    background: none;
}


/* -------------------予約------------------- */
.reservation-info {
    border: 1px solid #acacac;
    border-radius: 25px;
    padding: auto;
    display: flex;
    align-items: center;
}

.reservation_store_info {
    margin: 0;
    font-size: 16px;
}

.delete-btn-reservation {
    color: #333;
    background: none;
    padding: 3px;
    font-size: 20px;
}

.delete-btn-reservation:hover,
.delete-btn-reservation:focus {
    color: #696969;
    background: none;
}


/* -------------------有料会員登録------------------- */
#card-element {
    border: 1px solid #696969;
    height: 35px;
}








